{% extends "base.html" %}
{% load widget_tweaks %}

{% block container %}
  <h1 class="text-center">Trocar a senha</h1>
  <div class="col-md-4 col-md-offset-4">
      {% if messages %}
      <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
      </div>
      {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="{{ form.old_password.id_for_label }}">Senha antiga</label>
          {{ form.old_password|add_class:'form-control'|attr:"autofocus"}}
      </div>
      <div class="form-group">
          <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
          {{ form.new_password1|add_class:'form-control'}}
      </div>
      <div class="form-group">
          <label for="{{ form.new_password2.id_for_label }}">Repite a senha</label>
          {{ form.new_password2|add_class:'form-control'}}
      </div>
      <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Alterar</button>
    </div>
    </form>
  </div>
{% endblock container %}